:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  
  .dark {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #000000;
      --text-color: #ffffff;
    }
  }
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px 15px;
    background-color: var(--background-color);
    color: var(--text-color);
    z-index: 300;
}
.header-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-row nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-row nav ul li{
    margin: 0 20px;
}